@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

body {
    background-color: #22223B;
    color: #4A4E69;
    font-family: 'Montserrat', sans-serif;
    max-height: 100vh;
    min-height: 100vh;
}

.content-heading {
    color: #F2E9E4;
    border-bottom: #4A4E69 solid 1px;
}

.message-success {
    color: #F2E9E4;
    background-color: rgba(92, 184, 92, .7);
    border: 2px solid #5cb85c;
}

.message-info {
    color: #F2E9E4;
    background-color: rgba(91, 192, 222, .7);
    border: 2px solid #5bc0de;
}

.message-error {
   color: #F2E9E4;
   border: 2px solid  #d9534f;
   background-color: rgba(217, 83, 79, .7);
}

.main-content {
    top: 50px;
    bottom: 45px;
    padding: 0 15px;
}

.navbar {
    border-top: #4A4E69 solid 1px;
}

textarea {
    width: 100%;
    background-color: #4A4E69;
    color: #F2E9E4 !important;
    border: 2px solid #9A8C98;
}

.btn {
    color: #F2E9E4;
    font-weight: 500;
    outline: #F2E9E4 1px solid;
} 

/* EDIT FORM */
.edit-form {
    color: #F2E9E4;
}

.edit-form-input {
    background-color: #4A4E69;
}

.edit-form-select {
    background-color: #4A4E69;
}
