{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'client/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    {% if title %}
        <title>CollegeApp - {{ title }}</title>
    {% else %}
        <title>CollegeApp</title>
    {% endif %}
    {% block css %}{% endblock css %}
</head>
<body>
    <div class="main p-2 mx-auto w-full min-h-screen max-w-screen-md max-h-screen relative">
        <div class="absolute bottom-0 left-0 w-full border-t border-gray-500">
            <nav class="flex justify-evenly text-center py-3">
                <div>
                    <a href="/"><img class="h-7 hover:stroke-white" src="{% static 'client/icons/home.svg' %}" alt="home icon svg"></a>
                </div>
                <div>
                    <a href="/confessions"><img class="h-7" src="{% static 'client/icons/confessions.svg' %}" alt="confession icon svg"></a></a>
                </div>
                <div>
                    <a href="/chat"><img class="h-7" src="{% static 'client/icons/chat.svg' %}" alt="chat icon svg"></a></a>
                </div>
                <div>
                    <a href="/profile"><img class="h-7" src="{% static 'client/icons/profile.svg' %}" alt="profile icon svg"></a></a>
                </div>
            </nav>
        </div>
        <div class="relative">
            <div class="sticky top-0 left-0 right-0 text-2xl font-bold">{{ title }}</div>
            <div class="">

            </div>
        </div>
        {% block content %}{% endblock content %}
    </div>

</body>
</html>