{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'client/icons/favicon.ico' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    {% if title %}
        <title>CollegeApp - {{ title }}</title>
    {% else %}
        <title>CollegeApp</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'client/style.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
    <div class="main p-2 relative min-h-screen max-h-screen max-w-screen-md mx-auto">

        <div class="p-2 content-heading absolute top-0 left-0 text-2xl w-full border-b font-bold">{{ title }}</div>
        <div class="messages absolute top-10 right-0 z-10">
            {% if messages %}
                {% for message in messages %}
                    <div class="single-message message-{{ message.tags }} relative p-6 rounded">
                        <button class="single-message-close-btn absolute top-2 right-2"><img class="h-4" src="{% static 'client/icons/x.svg' %}" alt="cross icon svg"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="main-content absolute w-full overflow-auto left-0">
            {% block content %}{% endblock content %}
        </div>
        <nav class="navbar absolute bottom-0 left-0 flex justify-evenly text-center py-2 w-full border-t">
            <div>
                <a href="{% url 'client-home' %}"><img class="h-7 hover:stroke-white" src="{% static 'client/icons/home.svg' %}" alt="home icon svg"></a>
            </div>
            <div>
                <a href="{% url 'client-confessions' %}"><img class="h-7" src="{% static 'client/icons/confessions.svg' %}" alt="confession icon svg"></a>
            </div>
            <div>
                <a href="{% url 'client-create' %}"><img class="h-7" src="{% static 'client/icons/add.svg' %}" alt="create icon svg"></a>
            </div>
            <div>
                <a href="{% url 'client-chat' %}"><img class="h-7" src="{% static 'client/icons/chat.svg' %}" alt="chat icon svg"></a>
            </div>
            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'client-profile' %}"><img class="h-7" src="{% static 'client/icons/profile.svg' %}" alt="profile icon svg"></a>
                {% else %}
                    <a href="{% url 'client-profile'%}"><img class="h-7" src="{% static 'client/icons/profile.svg' %}" alt="profile icon svg"></a>
                {% endif %}
            </div>
        </nav>

    </div>
    <script src="{% static 'client/message.js' %}"></script>
    {% block js %}

    {% endblock js %}

</body>
</html>