{% extends 'client/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'client/confessions.css'%}">
{% endblock css %}

{% block content %}
    <div>
{#        <div class="content-heading-xoxo w-full max-w-screen-md fixed text-xl">XOXO</div>#}
        <div class="confessions-posts w-full">
            {% for confession in confessions %}
                <div class="confessions-post my-4 flex">
                    <div>
                        <div class="confessions-post-profile rounded-full mt-1">
                            <img class="rounded-full confessions-post-profile-img" src="https://i.pinimg.com/474x/13/0f/96/130f9601ce0b948996e13bc2b1d88a66.jpg" alt="f">
                        </div>
                    </div>

                    <div class="ml-2">
                        <span class="confessions-post-user-name">Anonymous</span>
                        <span class="confessions-post-date-time">{{ confession.date_posted.date }},</span>
                        <span class="confessions-post-date-time">{{ confession.date_posted.time }}</span>

                        <h1>{{ confession.content }}</h1>

                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
