{% extends 'client/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'client/home.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div>
        <div class="town-hall-posts w-full">
            {% for alert in alerts %}
                {% if alert.status == 1 %}
                    <div class="town-hall-post special-1 p-2 my-2 flex rounded-lg">
                {% elif alert.status == 2 %}
                    <div class="town-hall-post p-2 special-2 my-2 flex rounded-lg">
                {% else %}
                    <div class="town-hall-post p-2 my-2 flex rounded-lg">
                {% endif %}

                    <div>
                        <div class="town-hall-post-profile rounded-full mt-1">
                            <img class="rounded-full town-hall-post-profile-img" src="{{ alert.author.student.image.url }}" alt="f">
                        </div>
                    </div>

                    <div class="ml-2">
                        <span class="town-hall-post-user-name">
                            {% if user.id == alert.author.id %}
                                <a href="/profile">
                                    {{ alert.author.first_name }} {{ alert.author.last_name }}
                                </a>
                            {% else %}
                                <a href="/profile/{{ alert.author.id }}">
                                    {{ alert.author.first_name }} {{ alert.author.last_name}}
                                </a>
                            {% endif %}
                        </span>
                        <span class="town-hall-post-date-time">{{ alert.date_posted.date }},</span>
                        <span class="town-hall-post-date-time uppercase">{{ alert.date_posted.time }}</span>

                        <h1>{{ alert.content }}</h1>
                        {% if alert.img %}
                            <img src="{{ alert.author.profile_img }}" alt="post img">
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}

{% block js %}
{% endblock js %}
