{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'client/icons/favicon.ico' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    {% if title %}
        <title>CollegeApp - {{ title }}</title>
    {% else %}
        <title>CollegeApp - Login</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
    <div class="main p-2 relative min-h-screen max-h-screen max-w-screen-md mx-auto">

        <div class="p-2 content-heading absolute top-0 left-0 text-2xl w-full border-b font-bold">
            {% if title %}
                {{ title }}
            {% else %}
                Login
            {% endif %}
        </div>
        <div class="messages absolute top-10 right-0 z-10 w-25">
            {% if messages %}
                {% for message in messages %}
                    <div class="single-message w-full message-{{ message.tags }} relative p-6 rounded">
                        <button class="single-message-close-btn absolute top-2 right-2"><img class="h-4" src="{% static 'client/icons/x.svg' %}" alt="cross icon svg"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="main-content absolute w-full pt-4 overflow-auto left-0">
            {% block content %}{% endblock content %}
        </div>
    </div>

    <script src="{% static 'users/script.js' %}"></script>
</body>