{% extends 'users/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'users/register.css' %}" />
{% endblock css %} {% block content %}
<div class="w-full">
  <form method="POST" class="register-form text-sm">
    {% csrf_token %} {{ form.as_div }}
    <button class="btn py-2 my-1 px-4 bg-blue-700 rounded w-full" type="submit">
      Register
    </button>
  </form>
  <div class="text-center">
    <small
      >Already have an account?
      <a class="text-blue-500" href="{% url 'login' %}">Login</a></small
    >
  </div>
</div>
{% endblock content %}
