@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

body {
    background-color: #22223B;
    color: #4A4E69;
    font-family: 'Montserrat', sans-serif;
}

.content-heading {
    color: #F2E9E4;
    border-bottom: #4A4E69 solid 1px;
}

.main-content {
    top: 50px;
    bottom: 0;
    padding: 0 15px;
}
